<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Statistics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <div class="container">
        <form action="/" id="filter">
            <div class="row">
                <div class='col'>
                    <div class="form-group">
                        <label for="fromDate">From date</label>
                        <input type='text' name="fromDate" class="form-control" id="fromDate" />
                    </div>
                </div>
                <div class='col'>
                    <div class="form-group">
                        <label for="toDate">To date</label>
                        <input type='text' name="toDate" class="form-control" id="toDate" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="titleSelect">Categories select</label>
                    <select class="form-control" name="cat" id="titleSelect">
                        <?php foreach ($filter['categories'] as $id => $tp) { ?>
                            <option value="<?=$id?>" <?=($tp['selected']?'selected':'')?>><?=$tp['title']?></option>
                        <?php } ?>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="titleSelect">Titles select</label>
                    <select class="form-control" name="title" id="titleSelect">
                        <?php foreach ($filter['titles'] as $id => $tp) { ?>
                            <option value="<?=$id?>" <?=($tp['selected']?'selected':'')?>><?=$tp['title']?></option>
                        <?php } ?>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="titleSelect">Types select</label>
                    <select class="form-control" name="type" id="titleSelect">
                        <?php foreach ($filter['types'] as $id => $tp) { ?>
                            <option value="<?=$id?>" <?=($tp['selected']?'selected':'')?>><?=$tp['title']?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col">
                    <button class="btn btn-default" type="submit">Filter<img src="./img/preloader.gif" class="preloader"></button>
                </div>
                <div class="col-5"></div>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Product (Variant) Title</th>
                <th scope="col">Type</th>
                <th scope="col">SKU</th>
                <th scope="col">Quantity</th>
                <th scope="col">Gross Sales</th>
                <th scope="col">Net Sales</th>
            </tr>
            </thead>
            <tbody id="statistics">

            </tbody>
        </table>
        <nav aria-label="..." id="pagination" class="d-flex">
            <ul class="pagination pagination-lg mx-auto">

            </ul>
        </nav>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script>
        var dates = <?=$filter['dates']?>;
        var statistics = <?=$statistics?>;

    </script>
    <script src="js/custom.js"></script>
</body>
</html>