.filter-item-selector {
    width: 24%;
    display: inline-block;
    margin: 0;
}

.label-header-filter {
    width:15%;
    padding: 15px;
    display: inline-block;
    /*margin-right: 10px;*/
}

.find-button {
  font-weight: bold;
  width: 10%;
  font-size: 13px;
  background: #ffbf05 !important;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
}