<!-- FILTER  -->
<div class="header-filter wrapper medium-down--hide">
  
    <h6 class="label-header-filter">Product Filter</h6>

    <select class="filter-item-selector FilterByCollections">
      <option value="" disabled selected>Category</option>
      <option value="all" {% if request.path contains '/all' %} selected {% endif %} >All</option>
      {% for collect in collections %}
      <option value="{{ collect.handle }}" {% if request.path contains collect.url %} selected {% endif %}>{{ collect.title }}</option>
      {% endfor %}
    </select>

    <select class="filter-item-selector FilterBySizes">
      <option value="" disabled selected>Size</option>
      <option value="all" {% if request.path contains '/all' %} selected {% endif %} >All</option>
      {% for tag in tags %}
      	{% if tag contains 'Size' %}
      		<option value="{{ tag }}" {% if request.path contains tag %} selected {% endif %}>{{ tag | slice: 5,100 }}</option>
      	{% endif %}
      {% endfor %}
    </select>

    <select class="filter-item-selector FilterByVendors">
      <option value="" disabled selected>Brand</option>
      <option value="all" {% if request.path contains '/all' %} selected {% endif %} >All</option>
      {% for tag in tags %}
      	{% if tag contains 'Vendor' %}
      		<option value="{{ tag }}" {% if request.path contains tag %} selected {% endif %}>{{ tag | slice: 7,100 }}</option>
      	{% endif %}
      {% endfor %}
    </select>

    <input class="find-button" id="FilterByFind" type="button" value="FIND">

</div>
<!-- END  FILTER  -->